<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="HOSTNAME" value="192.168.0.21" />-->
    <!--<add key="HOSTNAME" value="192.168.0.15" />-->
    <add key="HOSTNAME" value="192.168.0.97" />
    <add key="PORT" value="5672" />
    <add key="ID" value="admin" />
    <add key="PW" value="admin1!" />
    <!--<add key="DBConn" value="Server=192.168.0.22;Port=3306;Uid=dbuser;Pwd=mw@admin.21;Database=mwdb" />-->
    <add key="DBConn" value="Server=192.168.0.22;Port=3306;Uid=dbuser;Pwd=mw@admin.21;Database=mwdb" />
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>